.qv-object-com-jimareed-detailview div.qv-object-content-container {
	overflow: auto;
}
.qv-object-com-jimareed-detailview td,
.qv-object-com-jimareed-detailview th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-com-jimareed-detailview td.numeric {
	text-align: right;
}
.qv-object-com-jimareed-detailview button {
	width: 100%;
}
